
@model IEnumerable<EntityFrameworkAssignment.Models.Student>

@{
    ViewBag.Title = "AddTeachersToCourse";
}

<h2>AddTeachersToCourse</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.ActionLink("Add", "AddStudent", new { sId = item.StudentID, id = ViewBag.courseId })
                @*@Html.BeginForm("Add", "AddStudent", new { sId = item.StudentID, id = ViewBag.courseId })
                {
                
                }*@
            </td>
        </tr>
    }

</table>
<p>@Html.ActionLink("Back", "Details", new { id = ViewBag.courseId })</p>

