
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AssignmentIsExist</title>
</head>
<body>
    <div>
        <p>Item Is Exist</p>
    </div>
    <p>@Html.ActionLink("Back", "BackToAddAssignment", new { id = ViewBag.courseId })</p>
</body>
</html>
