
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IsExist</title>
</head>
<body>
    <div> 
        <p>Item Is Exist</p>
    </div>
    <p>@Html.ActionLink("Back", "Back", new {  id = ViewBag.courseId })</p>
</body>
</html>
